[Studium]
row=13
col=7

[Bastelei]
row=15
col=8

[liste~]
row=14
col=7

[Podcasts]
row=15
col=6

[Programme]
row=14
col=9

[Steam]
row=13
col=6

[VirtualBox VMs]
row=16
col=6

[Bilder]
row=13
col=9

[Dropbox]
row=12
col=9

[Audiobooks]
row=14
col=6

[Musik]
row=15
col=7

[Videos]
row=12
col=7

[Downloads]
row=14
col=8

[Trash]
row=12
col=6

[File System]
row=13
col=8

[Home]
row=12
col=8

