[Studium]
row=1
col=2

[Bastelei]
row=3
col=1

[liste~]
row=1
col=1

[Podcasts]
row=4
col=0

[Programme]
row=0
col=1

[Steam]
row=5
col=0

[VirtualBox VMs]
row=6
col=0

[Bilder]
row=4
col=1

[Dropbox]
row=6
col=1

[Audiobooks]
row=3
col=0

[Musik]
row=0
col=2

[Videos]
row=2
col=1

[Downloads]
row=5
col=1

[Trash]
row=2
col=0

[File System]
row=1
col=0

[Home]
row=0
col=0

